# Java / Spring Boot
target/
*.log

# Angular / Node
node_modules/
dist/

# Environment / secrets
application.yml
application.properties
.env

# IDE
.vscode/
.idea/

# Temporary / Office files
~*
*.tmp

# OS
.DS_Store
Thumbs.db
